<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/css/reset.css">
    <link rel="stylesheet" href="static/css/index.css">
</head>
    <body>
        {include file="header" /}
        <div class="module-wrap clearfix">
            <div class="col0 col">
                <div class="module">
                    <div>
                        <div class="head">
                            <img src="static/images/download.jpg" alt="">
                            <span>科技圈儿</span>
                        </div><div class="focus">
                            <span>关注</span>
                        </div>
                    </div>
                    <ul class="topic">
                        <li>好好学习，天天向上</li>
                        <li>盛开的花朵也会凋零</li>
                        <li>滴滴真的能成功吗</li>
                        <li>永不不要气馁</li>
                        <li>真的真的真的存在鬼魂吗,真的不太敢相信哎</li>
                        <li>科比退役胖了，你怎么看</li>
                        <li>赵丽颖萌的可爱</li>
                        <li>王宝强挺可凉的</li>
                        <li>易建联签约湖人</li>
                        <li>苹果即将发布iphone7</li>
                    </ul>
                    <div class="more"><span>更多</span></div>
                </div>
                <div class="module">
                    <div>
                        <div class="head">
                            <img src="static/images/download.jpg" alt="">
                            <span>科技圈儿</span>
                        </div><div class="focus">
                        <span>关注</span>
                    </div>
                    </div>
                    <ul class="topic">
                        <li>好好学习，天天向上</li>
                        <li>盛开的花朵也会凋零</li>
                        <li>滴滴真的能成功吗</li>
                        <li>永不不要气馁</li>
                        <li>真的真的真的存在鬼魂吗,真的不太敢相信哎</li>
                        <li>科比退役胖了，你怎么看</li>
                        <li>赵丽颖萌的可爱</li>
                        <li>王宝强挺可凉的</li>
                        <li>易建联签约湖人</li>
                        <li>苹果即将发布iphone7</li>
                    </ul>
                    <div class="more"><span>更多</span></div>
                </div>
            </div>
            <div class="col1 col">
                <div class="module">
                    <div>
                        <div class="head">
                            <img src="static/images/download.jpg" alt="">
                            <span>科技圈儿</span>
                        </div><div class="focus">
                        <span>关注</span>
                    </div>
                    </div>
                    <ul class="topic">
                        <li>好好学习，天天向上</li>
                        <li>盛开的花朵也会凋零</li>
                        <li>滴滴真的能成功吗</li>
                        <li>永不不要气馁</li>
                        <li>真的真的真的存在鬼魂吗,真的不太敢相信哎</li>
                        <li>科比退役胖了，你怎么看</li>
                        <li>赵丽颖萌的可爱</li>
                        <li>王宝强挺可凉的</li>
                        <li>易建联签约湖人</li>
                        <li>苹果即将发布iphone7</li>
                    </ul>
                    <div class="more"><span>更多</span></div>
                </div>
            </div>
            <div class="col2 col">
                <div class="module">
                    <div>
                        <div class="head">
                            <img src="static/images/download.jpg" alt="">
                            <span>科技圈儿</span>
                        </div><div class="focus">
                        <span>关注</span>
                    </div>
                    </div>
                    <ul class="topic">
                        <li>好好学习，天天向上</li>
                        <li>盛开的花朵也会凋零</li>
                        <li>滴滴真的能成功吗</li>
                        <li>永不不要气馁</li>
                        <li>真的真的真的存在鬼魂吗,真的不太敢相信哎</li>
                        <li>科比退役胖了，你怎么看</li>
                        <li>赵丽颖萌的可爱，好想把赵丽颖娶回家啊，哈哈</li>
                        <li>王宝强挺可凉的</li>
                        <li>易建联签约湖人，真的真的太激动了，大家怎么看</li>
                        <li>苹果即将发布iphone7</li>
                    </ul>
                    <div class="more"><span>更多</span></div>
                </div>
            </div>
            <div class="col3 col">
                <div class="module">
                    <div>
                        <div class="head">
                            <img src="static/images/download.jpg" alt="">
                            <span>科技圈儿</span>
                        </div><div class="focus">
                        <span>关注</span>
                    </div>
                    </div>
                    <ul class="topic">
                        <li>好好学习，天天向上</li>
                        <li>盛开的花朵也会凋零</li>
                        <li>滴滴真的能成功吗</li>
                        <li>永不不要气馁</li>
                        <li>真的真的真的存在鬼魂吗,真的不太敢相信哎</li>
                        <li>科比退役胖了，你怎么看</li>
                        <li>赵丽颖萌的可爱</li>
                        <li>王宝强挺可凉的</li>
                        <li>易建联签约湖人</li>
                        <li>苹果即将发布iphone7</li>
                    </ul>
                    <div class="more"><span>更多</span></div>
                </div>
            </div>
        </div>

    </body>
<script type="text/javascript" src="static/js/index.js"></script>
</html>