<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/css/reset.css">
    <link rel="stylesheet" href="static/css/index.css">
</head>
    <body>

        <div class="public-header">
            <div class="box">
                <div class="logo">圈 儿</div>
                <div class="nav">
                    <ul>
                        <li>首页</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="module-wrap clearfix">
            <div class="col0 col">
                <div class="module">
                    <ul>
                        <li>好好学习，天天向上</li>
                        <li>盛开的花朵也会凋零</li>
                        <li>滴滴真的能成功吗</li>
                        <li>永不不要气馁</li>
                        <li>真的真的真的存在鬼魂吗</li>
                        <li>科比退役胖了，你怎么看</li>
                        <li>赵丽颖萌的可爱</li>
                        <li>王宝强挺可凉的</li>
                        <li>易建联签约湖人</li>
                        <li>苹果即将发布iphone7</li>
                    </ul>
                </div>
                <div class="module">
                    <p>sdaf</p>
                    <p>sdaf</p>
                    <p>sdaf</p>
                    <p>sdaf</p>
                    <p>sdaf</p>
                    <p>sdaf</p>
                    <p>sdaf</p>
                </div>
            </div>
            <div class="col1 col">
                <div>
                    <p>sdaddf</p>
                </div>
            </div>
            <div class="col2 col">
                <div>
                    <p>sdadf</p>
                </div>
            </div>
            <div class="col3 col">
                <div>
                    <p>sdaadsdf</p>
                </div>
            </div>
        </div>

    </body>
<script type="text/javascript" src="static/js/index.js"></script>
</html>