<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="PUBLIC_PATH/static/css/reset.css">
    <link rel="stylesheet" href="PUBLIC_PATH/static/css/index.css">
</head>
<body>
{include file="header" /}
    <div class="post-publish">
        <div class="editor">
            <form action="">
                <div class="title">
                    <p>发表帖子</p>
                    <input type="text" />
                </div>
                <div class="content">
                    <textarea name="" id="" cols="30" rows="20"></textarea>
                </div>
                <a href="#">发布</a>
            </form>
        </div>
    </div>

</body>
<script type="text/javascript" src="PUBLIC_PATH/static/js/index.js"></script>
</html>